.animated-gradient {
    background: linear-gradient(270deg,
            #0540b3,
            /* blu base */
            #0a66c2,
            /* blu profondo */
            #1da1f2,
            /* azzurro tech */
            #00c9ff,
            /* ciano brillante */
            #00eaff,
            /* turchese acceso */
            #00ffa3,
            /* verde acqua */
            #4facfe,
            /* azzurro chiaro */
            #6a11cb,
            /* violetto elegante */
            #2575fc,
            /* blu elettrico */
            #21d4fd,
            /* celeste/sky */
            #b721ff,
            /* viola tech */
            #0540b3
            /* ritorno al blu */
        );
    background-size: 1000% 1000%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 20s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}